/* CSS Document */
td{
 font-size: 11px;
 color: #000;


}
.vtop {
	 vertical-align:top !important;	
	}

.clsBoldFont td{
	font-weight:bold;
	font-size:12px !important;
	}
 a{
  color: #000;
 }
.dt{
/*  background:url(../images/bg_table.jpg) repeat-x;
  color: #000;
  font-weight: bold;
  padding-left: 4px;
  border:1px solid #DBDBDD;*/
  background: url("../images/table_hbg.jpg") repeat-x scroll 0 0 transparent;
    border: medium none !important;
    color: #000000;
    font: bold 11px Century Gothic;
    height: 45px;
    padding: 0 10px;
    text-align: left;
 }

  .dtb{
  background-color: #86B5FF;
  color: #000;
  font-weight: bold;
  padding-left: 4px;
 }
/*.dt0{
  border-left:1px solid #FDFDFD !important;
  }
 .dt1{
  background-color: #FDFDFD;
  padding:.5em 0;
  border-left:1px solid #DBDBDD;
  padding-left:4px;
  }*/

/* .dt2{
  background-color: #F3F5F4;
  border-left:1px solid #DBDBDD;  
  padding:.5em 0;
  padding-left:4px;
 }
*/
/*.dt3 {
  border-left:none !important;	
  }
.dt4 {
  border-right:none !important;	
 }*/
 
 
