/* CSS Document */
body
{
	 font-family:Arial, Helvetica, sans-serif;
	font-size:80%;  /*-- Enables font size scaling in MSIE  --*/
	margin:0;
	padding:0;
	text-align:center;
	background:url(../images/body_pat.jpg) repeat;
}
.clsBody{
	background:url(../images/bd_top.png) repeat-x top;
}
.clsFootbg{
	background:url(../images/foot_bg.png) repeat-x bottom;
}
.clsAlign
{
text-align:right;
padding:15px 0 0;
}

/* Clear Fix*/

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* End hide from IE-mac */
/* end of  clearfix */

.clsinputbox
{
font:11px Verdana, Arial, Helvetica, sans-serif;
color:#2A3F00;
}
/* SIDE ROUNDED CORNERS*/

/*.top_t {
	background:#fcfcfc url(../images/tp_tb.jpg) 0px top repeat-x;
	}
.top_b{
	background: url(../images/tp_bb.jpg) 0px bottom repeat-x;
}
.top_r{
	background: url(../images/tp_rb.jpg) right 0px repeat-y;
	}
.top_l{
	background: url(../images/tp_lb.jpg) 0px 0px repeat-y;
	}
.top_tl {
	background: url(../images/tp_tlc.jpg) left top no-repeat;
	}
.top_tr{
	background: url(../images/tp_trc.jpg) right 0px no-repeat;
	}
.top_bl{
	background: url(../images/tp_blc.jpg) left bottom no-repeat;
	}
.top_br{
	background: url(../images/tp_brc.jpg) right bottom no-repeat;
	padding:10px;
	}
* html .cls100_p{
	width:100%;
	}
	
.block {
	margin-bottom:10px;
	height:1%;
	}
*/
/*END OF SIDE ROUNDED CORNERS*/	

/* SIDE ROUNDED CORNERS*/

/*.blue_t {
	background:url(../images/blue_tb.jpg) 0px top repeat-x;
	}
.blue_b{
	background: url(../images/blue_bb.jpg) 0px bottom repeat-x;
}
.blue_r{
	background: url(../images/blue_rb.jpg) right 0px repeat-y;
	}
.blue_l{
	background: url(../images/blue_lb.jpg) 0px 0px repeat-y;
	}
.blue_tl {
	background:url(../images/blue_tlc.jpg) left top no-repeat;
	}
.blue_tr{
	background: url(../images/blue_trc.jpg) right 0px no-repeat;
	}
.blue_bl{
	background: url(../images/blue_blc.jpg) left bottom no-repeat;
	}
.blue_br{
	background: url(../images/blue_brc.jpg) right bottom no-repeat;
	padding:10px;
	}
* html .cls100_p{
	width:100%;
	}
.block {
	margin-bottom:10px;
	height:1%;
	}*/

/*END OF SIDE ROUNDED CORNERS*/	
/* SIDE ROUNDED CORNERS*/

.b_t {
	background:#fcfdfe url(../images/blue_tb.jpg) 0px top repeat-x;
	}
.b_b{
	background: url(../images/blue_bb.jpg) 0px bottom repeat-x;
}
.b_r{
	background: url(../images/blue_rb.jpg) right 0px repeat-y;
	}
.b_l{
	background: url(../images/blue_lb.jpg) 0px 0px repeat-y;
	}
.b_tl {
	background: url(../images/blue_tlc.jpg) left top no-repeat;
	}
.b_tr{
	background: url(../images/blue_trc.jpg) right 0px no-repeat;
	}
.b_bl{
	background: url(../images/blue_blc.jpg) left bottom no-repeat;
	}
.b_br{
	background: url(../images/blue_brc.jpg) right bottom no-repeat;
	padding:10px;
	}
* html .cls100_p{
	width:100%;
	}
.block {
	margin-bottom:10px;
	height:1%;
	}

/*END OF SIDE ROUNDED CORNERS*/	



#container
{
	width:1000px;
	margin:0 auto;
	padding:0px;
	text-align:left;

}

#selLeftHeader
{
	width:276px;
	margin:0px;
	float:left;
}

#selLeftHeader h1
{
	background:url(../images/logo.png) no-repeat scroll left top;
	position:absolute;
	margin:10px 0 0;
}
#selLeftHeader a
{
	overflow:hidden;
	text-indent:-2000em;
}

h1 a{
display:block;
height:94px;
overflow:hidden;
text-indent:-2000em;
width:284px;
}
#selRightHeader 
{
 border: 3px solid #E3ACA1;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin: 20px 0;
    padding: 0;
    width: auto;
}
#selRightHeader ul{
	background:#fff;
}
#selRightHeader li
{
/*background:transparent url(../images/menubg.jpg) no-repeat scroll right center;
*/list-style-type:none;
	float:left;
	display:inline;
	border:none;
	width:109px;
	height:35px;
	text-align:center;
}
#selRightHeader li:hover a,#selRightHeader li.clsActive a{
	background:url(../images/rightli_active.jpg) no-repeat;
	width:109px;
	height:35px;
	display:block;
	text-decoration:none;
}
#selRightHeader a
{
	font:bold 12px "Arial", Helvetica, sans-serif;
	color:#000000;
	text-transform:uppercase;
line-height:35px;
}
#selRightHeader .clsNoBg
{
background:transparent none repeat scroll 0 0;
}

#selBanner
{

vertical-align:middle;
padding: 0; 
margin-bottom:20px;
}
#selBanner h2 {
	text-align:center;
	text-transform:uppercase;
	color:#4073c7;
	padding:10px 0px 20px;
	font:bold 20px Arial, Helvetica, sans-serif;
}

#selMain
{
margin:0 15px;
border-bottom:1px solid #BDBBBC;
}

#selMain h2
{
	font:bold 16px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#666;
	padding:20px 0 10px 10px;
	background:#fff;
	box-shadow:0 3px 3px #BDBBBC;
	margin-bottom:20px;
}
#selMain p
{
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:18px;
padding:20px 10px 10px 0;
font-size:8pt;
}
#selMain span
{
float:left;
width:150px;
display:block;
}
#selMain .clsContant
{
/*margin-top:20px;
background-color:#e6f3fb;
width:715px;
border:1px solid #cfeaf8;*/
}


#selMain .clsForm
{
padding:20px 0 20px 0;
width:540px;
margin:0 auto;
}
#selMain .clsForm li
{
padding-right:10px;
}

#selMain .clsContent p
{
line-height:35px;
}

#selMain .clsForm p
{
padding:5px 20px;
}

#selMain font
{
color:#FF0000;
font-size:12px;
font-weight:bold;
}

#selMain .clsForm input
{
   background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #EAEAEA;
    font-family: arial;
    font-size: 12px;
    width: 350px;
	
}



#selMain .clsFormRight
{
}

#selMain .clsHead
{
	background:transparent url(../images/complete_img.jpg) no-repeat scroll left center;
	float:left;
	width:200px;
	height:197px;
	margin:0 30px 0 0;

}
.clsInstalInfo{
	float:right;
	width:470px;
}
#selMain .clsInstalInfo h3{
	background:url(../images/head_bot.jpg) no-repeat scroll -12px bottom;
	padding-bottom:25px;
	margin-bottom:15px!important;
	color:#4073c7!important;
	font:bold 16px Arial, Helvetica, sans-serif!important;
	text-transform:uppercase;
}
#selMain .clsInstalInfo p{
	padding:0 !important;
	font:13px Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:27px;
}
.clsFinalStep {
  margin: 130px auto 0;
    width: 700px;
	
}

/*#selMain .clsbtn
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
background:transparent url(../images/btncon.jpg) no-repeat scroll center bottom;
border:none;
height:26px;
color:#FFFFFF;
width:100px;
cursor:pointer;
}*/




#footer p
{
	padding:25px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-align:center;
	color:#fff;
}

/*-------------------------------------------------------*/
/*#header
{
  margin-bottom:20px;
}
#banner
{
  margin-bottom:50px;
}
.clear
{
 height:1%;
}
.main
{
   margin-bottom:20px;
    
}*/
#footer
{
  overflow:hidden;
}



#header{
	padding:0;
	height:172px;
}
.clsbtn{
	background:url(../images/cont_but.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    margin: 5px 0 0;
    padding: 0 15px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 142px;
}
#selMain h3{
	padding:0 0 10px  0;
	color:#be3f24;
	font:bold 16px Arial, Helvetica, sans-serif;
	text-transform:capitalize;
}
#selMain{
	min-height:450px;
}
#selMain .clst{
	height:35px !important;
	padding:0 10px !important;
}
#main{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -4px 5px #F4F4F4;
    padding: 20px;
    width: 960px;
	margin:15px 0 0;
}
#selMain td b{
	color:#4073c7;
	font:bold 14px Arial, Helvetica, sans-serif;
}
#selMain td{
	padding:6px;
	text-align:left;
}
#selMain td li{
	background:url(../images/list_icon.png) no-repeat left;
	padding-left:20px;
}